/* .my-family {
  display: flex;
  flex-direction: column;
}

.my-family__heading {
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 8px;
} */

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
